.nav {
    background-color: white;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    max-width: 1280px;
    margin: auto;

    @media (max-width:1150px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
}

.nav-start {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:1150px) {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.nav-list-open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}

.nav-list {
    display: flex;
    align-items: center;
    transition: all 1s ease;
    z-index: 10;
    background-color: white;

    @media (max-width:1150px) {
        flex-direction: column;
        padding-inline: 75px;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        position: absolute;
        top:81px
    }

    li {
        cursor: pointer;
        list-style: none;
        margin-right: 56px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;

        @media (max-width:1150px) {
            width: 100%;
            text-align: center;
            margin-right: 0px;
            padding-block: 32px;
            border-bottom: 2px solid #EDEDED;
        }

    }

    li:last-of-type {
        margin-right: 0;
        cursor: default;
        @media (max-width:1150px) {
            margin-right: 0px;
            padding-block: 0px;
            border-bottom: none;
        }
    }

    li:nth-of-type(5) {
        @media (max-width:1150px) {
            border-bottom: none;
        }
    }

}

.button {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    padding: 24px 32px;
    border-radius: 4px;
    cursor: pointer;

    background-color: #646464;
    color:white;
    outline: none;
    border: none;

    box-shadow: 2px 2px 4px 0px #00000033;
    white-space: nowrap;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;

    @media (max-width:1150px) {
        padding-block: 4px;
        padding-left: 27px;

        svg {
            max-width: 200px;
            height: 73px;
        }
    }
}

.ham-menu {
    display: none;
    cursor: pointer;

    @media (max-width:1150px) {
       display: flex;
    }
    
    width: 40px;
    height: 32px;
    flex-direction: column;
    margin-right: 27px;
    
    .ham-line {
        transition: all .4s ease;
        width: 100%;
        height: 5px !important;
        background-color: #C4C4C4;
        margin-bottom: 8px;
    }

    .ham-line:last-of-type {
        margin-bottom: 0px;
    }

    .ham-line-mid {
        opacity: 0;
    }
    .ham-line-top {
        transform: rotateZ(45deg) translateY(11px)  translateX(7px);
    }
    .ham-line-bottom {
        transform: rotateZ(-45deg) translateY(-11px) translateX(7px);
    }
}